Options -Indexes

# Protect config.php from direct HTTP access
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^autodesk-license-server/login$              autodesk-license-server/index.php?p=login [L,QSA]
    RewriteRule ^autodesk-license-server/logout$             autodesk-license-server/index.php?p=logout [L,QSA]
    RewriteRule ^autodesk-license-server/dashboard$          autodesk-license-server/index.php?p=dashboard [L,QSA]
    RewriteRule ^autodesk-license-server/licenses/add$       autodesk-license-server/index.php?p=licenses.add [L,QSA]
    RewriteRule ^autodesk-license-server/licenses/([0-9]+)$  autodesk-license-server/index.php?p=licenses.view&id=$1 [L,QSA]
    RewriteRule ^autodesk-license-server/licenses$           autodesk-license-server/index.php?p=licenses [L,QSA]
    RewriteRule ^autodesk-license-server/settings$           autodesk-license-server/index.php?p=settings [L,QSA]
    RewriteRule ^autodesk-license-server/changelog$          autodesk-license-server/index.php?p=changelog [L,QSA]

    RewriteRule ^login$              index.php?p=login [L,QSA]
    RewriteRule ^logout$             index.php?p=logout [L,QSA]
    RewriteRule ^dashboard$          index.php?p=dashboard [L,QSA]
    RewriteRule ^licenses/add$       index.php?p=licenses.add [L,QSA]
    RewriteRule ^licenses/([0-9]+)$  index.php?p=licenses.view&id=$1 [L,QSA]
    RewriteRule ^licenses$           index.php?p=licenses [L,QSA]
    RewriteRule ^settings$           index.php?p=settings [L,QSA]
    RewriteRule ^changelog$          index.php?p=changelog [L,QSA]
</IfModule>
